APP_NAME="mini-Rag"
APP_VERSION="0.1"
OPENAI_API_KEY=""
File_ALLOWED_TYPES=["text/plain","application/pdf"]
FILE_MAX_SIZE=10
# WE USED THE CHUNKS TO SPLIT THE FILE INTO SMALLER PARTS FOR BETTER PROCESSING AND TO AVOID MEMORY ISSUES. THE CHUNK SIZE CAN BE ADJUSTED BASED ON THE SPECIFIC REQUIREMENTS OF YOUR APPLICATION AND THE NATURE OF THE FILES YOU ARE HANDLING.
FILE_DEFAULT_CHUNK_SIZE=512000  #in bytes, equivalent to 500KB, which is a common chunk size for text processing tasks.

#MONGODB_URI="" UNUSED
#MONGODB_DB_NAME="" UNUSED

POSTGRES_USERNAME="postgres"
POSTGRES_PASSWORD="PASSWORD"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_MAIN_DATABASE="minirag"

#================================ llm configs ==========================

GENERATION_BACKEND=""
EMBEDDING_BACKEND=""

OPENAI_API_KEY=""
OPENAI_API_URL=""

COHERE_API_KEY=""

GENERATION_MODEL_ID=""
EMBEDDING_MODEL_ID=""
EMBEDDING_MODEL_SIZE=384

INPUT_DEFAULT_MAX_TOKENS=1024
GENERATION_DEFAULT_MAX_TOKENS=200
GENERATION_DEFAULT_TEMPERATURE=0.1
=============================================== vectordb configs ==========================
VECTOR_DB_BACKEND="QDRANT"
VECTOR_DB_PATH="qdrant_db"
VECTOR_DB_DISTANCE_METHOD="Cosine"

#============================================== template configs ============================
PRIMARY_LANG="en"
DEFAULT_LANG="en"